.Modal
  .Modal__content
    %p 本当に送信しますか？
    %button{type: "submit", class:'send btn'} 送信する
    %button{type: "submit", class:'close btn'} 閉じる

.Header
  .Header__left Homework App
  .Header__right
    - if user_signed_in?
      .user_name 
        = current_user.nickname
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "log out"
    - else
      = link_to '新規登録', new_user_registration_path, class: "sign-up"
      = link_to 'ログイン', new_user_session_path, class: "log in"
.Main
  .Main__contents
    - @messages.each do |message|
      .content
        .message
          = message.content
        .content_info
          .content_user_name
            = message.user.nickname
          .content_date
            = message.created_at.to_s(:datetime)
  - if user_signed_in?
    .form
      = form_with(url: messages_path, local: true, method: :post, html: {class: "form__content"}) do |f|
        .form__box
          = f.text_area :content, class: 'content_form', placeholder: '文字を入力（25文字以内）'
          = f.submit '投稿する', class: 'form_btn'
  .Footer Homework App 2019